:root {
    --purple: #5d49e1;
    --pink: #fd014f;
    --white: #fdfdfd;
    --gray: #eeedf3;
    --black: #161617;
}

.chatContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    min-width: 700px;
    min-height: 50px;
    height: 96%;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 0 2px 2px var(--gray);
}
.screenChat {
    background-color: var(--gray);
    min-width: 900px;
    min-height: 50px;
}
.connections-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    min-width: 350px;
    /*background-color: var(--white);*/
    border-radius: 20px;
    /*border-right: 1px solid rgba(56, 56, 56, 0.7);*/

    justify-content: space-between;
}

.chat-area-container {
    width: 70%;
    max-width: 70%;
    min-width: 500px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 20px;
    margin: 0 20px;
}

.chat-user-info-container, .chat-user-search-container {
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: var(--white);
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s , width 0.3s;


}

.showInf {
    pointer-events: auto;
    /*max-width: 500px;*/
    width: 100%;
    min-height: 648px;
    opacity: 1;
    transition: width 0.3s, opacity 0.2s 0.2s;
}

.showSrc {
    pointer-events: auto;
    width: 40%;
    opacity: 1;
    transition: width 0.3s, opacity 0.2s 0.2s;
}


.header-user-info {
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-right: 25px;
    min-height: 53px;
    border-bottom: 1px solid var(--gray);
    align-items: center;
    font-weight: 800;
    color: var(--black);

}

.cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.user-photo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    min-height: 240px;
    border-bottom: 1px solid var(--gray);
    color: var(--black);

}

.user-photo-xl {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.user-photo-xl img {
    border-radius: 100px;
}
.user-info-name {
    font-size: 1.3rem;
}

.user-info-mail {
    color: var(--purple);
}

.user-info-media-container {
    display: flex;
    flex-direction: column;
    height: 20%;
    border-bottom: 1px solid var(--gray);

}

.user-info-media-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    width: 100%;
    height: 30%;
    cursor: pointer;
    color: var(--black);
}

.user-info-media-arrow {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.user-info-media-footer-container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.user-info-media {
    display: flex;
    width: 90px;
    height: 90px;
    margin: 10px;
    background-color: var(--purple);
    cursor: pointer;

}


.user-info-action-container {
    display: flex;
    flex-direction: column;
    height: 43%;
    gap: 10px;
}

.user-info-star-message,
.user-info-block,
.user-info-report,
.user-info-delete,
.user-info-delete-messages {
    height: 10%;
    color: #ef3933;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.user-info-star-message {
    margin-top: 20px;
    color: var(--purple);
}
.star-icon {
    width: 20px;
    height: 20px;
    background: url("../../assets/star.png") no-repeat;
    background-size: cover;
    margin: 0 20px;
}
.block-icon {
    width: 20px;
    height: 20px;
    background: url("../../assets/block-user.png");
    background-size: cover;
    margin: 0 20px;
}
.report-icon {
    width: 20px;
    height: 20px;
    background: url("../../assets/report-user.png");
    background-size: cover;
    margin: 0 20px;
}
.delete-icon {
    width: 20px;
    height: 20px;
    background: url("../../assets/delete-user.png");
    background-size: cover;
    margin: 0 20px;
}
.delete-messages-icon {
    width: 20px;
    height: 20px;
    background: url("../../assets/delete-mes.png");
    background-size: cover;
    margin: 0 20px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-photo {
    width: 37px;
    height: 37px;
    min-width: 37px;
    /*background-color: #181818;*/
    border-radius: 50px;
    margin: 10px;
    border: 0.15rem solid var(--gray);

}

.user-photo img {
    border-radius: 50px;
}
.user-display-name {
    font-size: 1.1rem;
    color: var(--purple);
    font-weight: 700;
}
.chat-logo {
    background: url("../../assets/katcha_logo.png") no-repeat;
    background-size: contain;
    width: 80px;
    height: 20px;
    margin: 10px;
}
/*#ef3933*/

.header-connections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 53px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 20px;
}

.chat-label {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
}

.connections {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--white);
    margin-top: 20px;
    border-radius: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    /*margin: 10px;*/
    margin: 20px 0;
    background-color: var(--white);
    position: sticky;
    top: 20px;
}
.search-form {
    width: 85%;
}
.search-bar {
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
    width: 93%;
    height: 35px;
}
.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    width: 13%;
}
.connection-search-input, .message-search-input {
    width: 95%;
    height: 100%;
    background-color: transparent;
    color: var(--black);

}

.connection-search-input::placeholder, .message-search-input::placeholder {
    font-size: 0.9rem;
}

.filtered-message-container {
    height: auto;
    max-width: 430px;
    overflow-x: hidden;
}
.filtered-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    background-color: var(--gray);
    border-radius: 10px;
    margin: 10px;
    padding: 5px 15px;
    word-wrap: break-word;
    cursor: pointer;
    color: var(--black);
    border: 1px solid var(--gray);

}
.filtered-message:hover {
    background-color: var(--white);
}
.filtered-message .date {
    font-size: 0.75rem;
    color: #000000AA;
    text-align: right;
}
.filtered-message .message {
    width: 77%;
}
.header-chat-area {
    display: flex;
    justify-content: space-between;
    min-height: 53px;
    /*background-color:var(--white);*/
    border-bottom: 1px solid var(--gray);

}

.header-chat-user-index {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    cursor: pointer;
    color: var(--black);
}
.friend-logo {
    width: 37px;
    height: 37px;
    min-width: 37px;
    /*background-color: #fff9eb;*/
    border-radius: 50px;
    margin-left: 15px;
    border: 0.15rem solid var(--gray);

}

.friend-logo img {
    border-radius: 50px;
}
.friend-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px;
    font-size: 1rem;
    font-weight: 700;

}

.typing, .online {
    font-size: 0.8rem;
    color: var(--pink);
}

.chat-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: right;
    font-size: 1.2rem;
    color: var(--black);
    width: 12%;
}
.chat-options-icon, .chat-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 33px;
    margin: 10px 20px 10px 0;
    cursor: pointer;
}

.chat-area {
    height: 100%;
    /*color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding: 2% 5%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-align: start;
    border-radius: 20px 20px 0 0;

}
.date-bar-container {
    pointer-events: none;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    position: sticky; /* Elemanın sabitlenmesini aktif hale getirin */
    top: 0; /* Elemanın yukarıya doğru sabitlenmesini istiyorsanız */
    z-index: 1;

}
.date-bar {
    font-size: 0.8rem;
    font-weight: 600;
    min-width: 100px;
    text-align: center;
    padding: 1px 6px;
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--white);


}

.chat-start {
    display: flex;
    justify-content: center;
}

.chat-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    color: var(--white);
    transition: 0.5s;

}

.chat-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    color: var(--black);
    transition: 0.5s;
}

.testt {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.chat-bubble, .chat-bubble-long {
    display: flex;
    flex-direction: row;
    word-break: break-word;
    overflow-wrap: break-word; /* Alt satıra geçmesini sağlar */
    width: fit-content;
    max-width: 450px;
    padding: 10px;
    margin: 3px 10px;


}
.message-options {
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: #5d49e1;
    border-radius: 50px;
    transition: 0.2s;
    color: var(--black);
    z-index: 100;
    cursor: pointer;

}

.options-container {
    display: flex;
    position: absolute;
    top: 10px;
    height: 25px;
    /*flex-direction: row;*/
    opacity: 0;
    scale: 0;
    width: fit-content;
    align-items: center;
    border-radius: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--pink);
    z-index: 200;
    pointer-events: none;
    transition:  opacity 0.3s, scale 0.01s 0.3s, top 0.3s;
}
.friend {
    color: var(--white);
}
.options-container ul {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    gap: 15px;
}
.options-container ul li {
    /*background-color: #ef3933;*/
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 20px;
    color: #ffffff;
}
.showOpt {
    position: absolute;
    top: -35px;
    height: 25px;
    pointer-events: auto;
    scale: 100%;
    opacity: 1;
    transition: scale 0.01s, top 0.3s, opacity 0.3s;
}


.chat-right .chat-bubble:hover,
.chat-left .chat-bubble:hover,
.chat-right .chat-bubble-long:hover,
.chat-left .chat-bubble-long:hover
{
    background-color: rgba(253, 1, 79, 0.72);
    transition: 0.2s;
    color: var(--white);
}

/*.chat-right:hover .message-options, .chat-left:hover .message-options {*/
/*    opacity: 1;*/
/*    transition: 0.2s;*/

/*}*/

.chat-bubble-long {
    flex-direction: column;
}

.chat-left .chat-bubble, .chat-left .chat-bubble-long {
    background-color: var(--gray);
    /*box-shadow: 0 0 10px 5px var(--white);*/
    border-radius: 0 10px 10px 10px;


}

.chat-right .chat-bubble, .chat-right .chat-bubble-long {
    background-color: var(--purple);
    /*opacity: 95%;*/
    /*box-shadow: 0 0 10px 5px var(--gray);*/
    border-radius: 10px 10px 0 10px;
    /*transform: translateY(-20px);*/
    /*transition: all 1s ease-in-out;*/

}

.chat-right .selected-message {
    background-color: var(--pink);
}
.chat-left .selected-message {
    background-color: var(--pink);
    color: var(--white);
}

.chat-left .chat-bubble .message-date,
.chat-left .chat-bubble-long .message-date {
    min-width: 35px;
    display: flex;
    justify-content: end;
    font-size: 0.65rem;
    font-weight: 700;
    margin: 2px 0 0 0;
    color: var(--black);
    opacity: 80%;
    /*color: var(--purple);*/
}
.chat-left .chat-bubble .message-date {
    align-items: end;
    margin: 0 0 0 17px;

}
.chat-right .chat-bubble .message-date,
.chat-right .chat-bubble-long .message-date {
    min-width: 35px;
    display: flex;
    justify-content: end;
    font-size: 0.65rem;
    font-weight: 700;
    margin: 2px 0 0 0;
    color: var(--gray);
}
.chat-right .chat-bubble .message-date {
    align-items: end;
    margin: 0 0 0 17px;

}
/*svg {*/
/*    display: flex;*/
/*    position: absolute;*/
/*    margin-top: 1.95rem;*/
/*}*/
/*.svg-left {*/
/*    margin-left: -1px;*/
/*}*/
/*.svg-right {*/
/*    margin-right: -1px;*/
/*}*/

/*.tail {*/
/*}*/

.footer-chat-area {
    /*display: grid;*/
    /*grid-template-columns: repeat(18, 1fr);*/
    /*grid-template-rows: repeat(3, 1fr);*/
    display: flex;
    flex-direction: row;
    align-items: end;
    height: auto;
    background-color: var(--white);
    border-radius: 20px;
    padding: 12px;
}

.message-area {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 85%;
    height: 35px;
    border-radius: 7px;
    background-color: var(--gray);
}
.message-area-reply-mode {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: 85%;
    /*padding: 10px;*/
    /*grid-column: 1 / span 15; !* İlk sütunda 2 sütun genişliğinde yer alacak *!*/
    /*grid-row: 3 / span 1; !* İlk satırda 2 satır yüksekliğinde yer alacak *!*/
    /*margin: auto 12px 9px 12px;*/
}
.testtt {
    display: flex;
    width: 100%;
    background-color: var(--gray);
    border-radius: 7px;
}
.message-input {

    background-color: transparent;
    color:var(--black);
    width: 100%;
    padding: 5px 20px;
}
.message-input::placeholder {
    font-size: 0.9rem;
}
.upload-file {
    display: flex;
    justify-content: center;
    /*font-size: 1.9rem;*/
    /*width: 4.5%;*/
    height: fit-content;
    cursor: pointer;
    /*margin: 6px;*/
    /*grid-column: 16 / span 1; !* 16. sütunda 2 sütun genişliğinde yer alacak *!*/
}
.upload-file-icon {
    font-size: 1.6rem;
    cursor: pointer;
}
.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 10%;
    min-width: fit-content;
    background-color: var(--purple);
    height: 35px;
    padding: 5px;
    /*margin: 10px 12px;*/
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.9rem;
    /*grid-column: 17 / span 2; !* 17. sütunda 2 sütun genişliğinde yer alacak *!*/

}

.dark-mode-button {
    position: absolute;
    right: 0;
    margin: 10px 20px;
    background-color: var(--purple);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 170;
}

.progress-bar {
    display: none;
    width: 0;
    height: 4px;
    background-color: #53de20;
}

.noImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--black);
}
.bottom-bar {
    display: none;
}

.ph-back-arrow {
    display: none;
}

.img-message {
    border-radius: 10px;
}