.connectionBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    color: var(--black);
    border-bottom: 1px solid var(--gray);
    padding: 5px;
    cursor: pointer;
    background-color: var(--white);
}
.connectionBanner:hover {
    background-color: var(--gray);
}

.notification {
    font-weight: 700;
    color: #00ad67;
}

.connection-photo {
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #d5d5d5;
    border-radius: 50px;
    border: 0.15rem solid var(--gray);

}
.connection-photo img {
    border-radius: 50px;
}
.connection-info {
    width: 60%;
    margin: 5px;
}
.connection-title {
    font-weight: 600;
    font-size: 1.05rem;
}

.connection-index {
    font-size: 0.85rem;
    overflow: hidden;
}

.notification-alert {
    width: 15px;
    height: 15px;
    background-color: #00ad67;
    border-radius: 50px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 800;
    color: #1e1e1e;
    margin: 5px;
}

.connection-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    min-width: 20px;
    height: 50px;
    margin: 5px 5px;
    font-size: 0.8rem;
    text-align: center;
}